.game-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-box {

}

.dealer-cell {
    border-color: yellow;
    border-width: 2px;
}

.game-box:hover {
    border-color: red;
    cursor: pointer;
}

.game-round-btn:hover {
    border-color: black;
}

.game-live-table-header {
    position: sticky;
    top: 0;
    background: #282c34 !important;
}
