.tournament-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.tournament-box {
    width: 18rem;
    border-color: black;
    border-width: 2px;
}

.new-icon {
    height: 5vmin;
    padding-top: 3px;
}

.podium-icon {
    height: 10vmin;
}

.podium-winners {
    /*transform: rotate(-45deg);*/
    justify-content: flex-end;
}

.tournament-box:hover {
    border-color: red;
    cursor: pointer;
}

.tournament-page {
}

.participant-left {
    background-color: darkgrey
}

.link-box {
    color: inherit;
    text-decoration: none;
}

.live-page {
    padding: 20px;
    border-color: green;
    border-width: 50px;
}
